@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500&family=Noto+Sans:wght@700&display=swap');
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Assistant', sans-serif;
}
h1 {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 40px;
}
h2 {
  font-family: 'Assistant', sans-serif;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}